*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    background-color: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 117px;
}

#logoheader{
    padding: 23px 0px 23px 80px;
}

.nav-header{
    display: flex;
    padding: 0px 100px 0px 0px;
}

.nav-header ul{
    display: flex;
}

.nav-header ul li{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-header ul li .bot-cursos{
    padding: 2px 42px 2px 0px;
    color: #FDFDFD;
}

.nav-header ul li .bot-blog{
    padding: 2px 42px 2px 0px;
    color: #FDFDFD;
}

.nav-header ul li .bot-contato{
    padding: 2px 0px 2px 0px;
    color: #FDFDFD;
}

footer{
    display: flex;
    background-color: #2E948A;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 207px;
    padding: 0px;
}

footer #logofooter{
    padding: 0px 0px 0px 120px;
}

footer .nav-footer1 a{
    font-size: 20px;
    font-weight: 400;
    color: #FDFDFD;
}

footer .nav-footer2 a{
    font-size: 20px;
    font-weight: 400;
    color: #FDFDFD;
}

footer .nav-footer2 ul li{
    border: 2px solid #FDFDFD;
    border-radius: 62px;
    padding: 14px 41px 14px 41px;
    margin: 14px 135px 0px 0px;
    text-align: center;
}

.sec1{
    display: flex;
    justify-content: center;
    padding: 135px 0px 65px 0px;
}

.sec1 article h1{
    font-size: 60px;
    font-weight: 700;
    color: #FF4081;
    padding: 0px 120px 19px 0px;
}

.sec1 article p{
    font-size: 27px;
    font-weight: 400;
    color: #555555;
    padding: 0px 0px 38px 0px;
}

.sec1 article a{
    font-size: 27px;
    font-weight: 400;
    color: #FF4081;
    border: 2px solid #FF4081;
    border-radius: 62px;
    padding: 12px 26px 12px 26px;
}

.sec1 #ilubanner{
    width: 501px;
    height: 511px;
}

.sec2{
    display: flex;
    background-color: #F7F7F7;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.sec2 article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.sec2 article div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec2 article .poupando #ilupoupando{
    width: 288px;
    height: 270px;
    margin: 110px 0px 0px 0px;
}

.sec2 article .investimento #iluinvest{
    width: 238px;
    height: 270px;
    margin: 110px 0px 0px 0px;
}

.sec2 article .independencia #iluindep{
    width: 187px;
    height: 270px;
    margin: 110px 0px 0px 0px;
}

.sec2 article div h4{
    font-size: 25px;
    font-weight: 700;
    color: #FF4081;
}

.sec2 article div p{
    font-size: 17px;
    font-weight: 300;
    text-align: center;
}

.sec2 article div a{
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #FF4081;
    border-radius: 62px;
    padding: 15px 45px 16px 45px;
    margin: 0px 0px 115px 0px;
}

.sec2 article .poupando{
    padding: 0px 120px 0px 0px;
}

.sec2 article .investimento{
    padding: 0px 120px 0px 0px;
}

.sec3 article{
    display: flex;
    flex-wrap: wrap;
}

.sec3 h1{
    font-family: 'Nunito', sans-serif;
    font-size: 37px;
    font-weight: 700;
    color: #009688;
    padding: 120px 0px 78px 120px;
}

.sec3 article .wally{
    display: flex;
    align-items: center;
}

.sec3 article #iconwally{
    width: 104px;
    height: 104px;
    margin: 0px 25px 86px 120px;
}

.sec3 article .wally p{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Nunito', sans-serif ;
    margin: 0px 0px 86px 0px;
}

.sec3 .jaden{
    display: flex;
    align-items: center;
}

.sec3 #iconjaden{
    width: 104px;
    height: 104px;
    margin: 0px 25px 86px 97px;
}

.sec3 article .jaden p{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Nunito', sans-serif ;
    margin: 0px 0px 86px 0px;
}

.sec3 .whoopi{
    display: flex;
    align-items: center;
}

.sec3 article .whoopi p{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Nunito', sans-serif ;
    margin: 0px 0px 160px 0px;
}

.sec3 #iconwhoopi{
    width: 104px;
    height: 104px;
    margin: 0px 25px 160px 120px;
}

.sec3 .jane{
    display: flex;
    align-items: center;
}

.sec3 article .jane p{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Nunito', sans-serif ;
    margin: 0px 0px 160px 0px;
}

.sec3 #iconjane{
    width: 104px;
    height: 104px;
    margin: 0px 25px 160px 97px;
}

.sec4{
    display: flex;
    flex-wrap: wrap;
    background-color: #F7F7F7;
    width: 100%;
}

.sec4 h1{
    font-size: 37px;
    font-weight: 700;
    color: #009688;
    padding: 90px 0px 73px 120px;
}

.sec4 article{
    display: flex;
    flex-wrap: wrap;
}

.sec4 article .text1{
    width: 320px;
    height: 320px;
    margin: 0px 109px 100px 120px;
}

.sec4 article .text1 img{
    width: 319px;
    height: 193px;
}

.sec4 article .text1 h4{
    font-size: 27px;
    font-weight: 700;
    color: #009688;
}

.sec4 article .text2{
    width: 320px;
    height: 320px;
    margin: 0px 109px 100px 0px;
}

.sec4 article .text2 img{
    width: 319px;
    height: 193px;
}

.sec4 article .text2 h4{
    font-size: 27px;
    font-weight: 700;
    color: #009688;
}

.sec4 article .text3{
    width: 320px;
    height: 320px;
    margin: 0px 0px 100px 0px;
}

.sec4 article .text3 img{
    width: 319px;
    height: 193px;
}

.sec4 article .text3 h4{
    font-size: 27px;
    font-weight: 700;
    color: #009688;
}

.sec4 article .text4{
    display: flex;
    margin: auto;
}

.sec4 article .text4 a{
    font-size: 25px;
    font-weight: 400;
    color: #FF4081;
    border: 2px solid #FF4081;
    border-radius: 62px;
    padding: 10px 41px 10px 41px;
    margin: 0px 0px 53px 0px;
}